@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;1,300&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #fff;
    width: 100%;
    position: absolute;
    z-index: 1000;
}
header >*+*{
    padding: 1em;
}

a{
    color: #fff;
    text-decoration: none;
}

/* NAVIGATION MENU FOR SMALL SCREENS */


.show-case-text{
    position: absolute;
    /* z-index:1000; */
    min-height: 100vh;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2em;
    line-height: 1.5;
    height: 100%;
    width: 100%;
    bottom: 0;
}
.show-case-text .text{
    max-width: 600px;
    position: relative;
    z-index:1000;
}
.show-case h2{
    font-size: clamp(3rem, 1.5rem, 4rem);
    text-transform: uppercase;
}
.show-case h3{
    font-size: clamp(1.8rem, 1.3rem, 3rem);
    text-transform: uppercase;
}
.show-case p{
    font-size: clamp(2rem, 1rem 3rem);
    letter-spacing: 1px;
    margin-bottom: .5em;
    
}
.show-case .btn{
    letter-spacing: 1.5px;
    padding: .1em;
    border-radius: 3px;
    background: rgb(13, 13, 112);
    text-transform: uppercase;
    font-weight: bold;
    transition: 250ms ease-in-out;
}
.show-case .btn:hover{
    display: inline-block;
    transform: scale(1.1)
}
 video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background:rgb(13, 13, 153);
    mix-blend-mode: overlay;
}
footer{
    position: absolute;
    bottom: -14.5em;
    margin: 15em 15em 15em 2%;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    /* gap: 1em; */
    font-size: 1.2rem;
    z-index: 1000;
}
footer>*{
    padding-left: 1em;
}

/* 
@media(max-width:700px){
    footer{
        margin-left: 50%;
    }  
} */